<div class="content mt-5">
    <div class="container mx-5">
        <div class="row">      
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled" aria-disabled="true">
                        SOFAS</a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Sofa 1<span class="badge badge-primary badge-pill">14</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Sofa 2<span class="badge badge-primary badge-pill">2</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Sofa 3<span class="badge badge-primary badge-pill">1</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Sofa 3<span class="badge badge-primary badge-pill">1</span></a>
    
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item disabled" aria-disabled="true">
                        MIRRORS</a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Mirror 1<span class="badge badge-primary badge-pill">22</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Mirror 2<span class="badge badge-primary badge-pill">2</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Mirror 3<span class="badge badge-primary badge-pill">12</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Mirror 4<span class="badge badge-primary badge-pill">1</span></a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Mirror 5<span class="badge badge-primary badge-pill">4</span></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="row row-cols-md-3 mx-auto">
                        <div class="col mb-4">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">$ 290.00</p>
                            </div>
                          </div>
                        </div>
                        <div class="col mb-4">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">$ 5000.00</p>
                            </div>
                          </div>
                        </div>
                        <div class="col mb-4">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">$ 20.00</p>
                            </div>
                          </div>
                        </div>
                        <div class="col mb-4">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=698&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">$ 560.00</p>
                            </div>
                          </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                              <img src="https://images.unsplash.com/photo-1560184897-67f4a3f9a7fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">$ 560.00</p>
                              </div>
                            </div>
                          </div>
                          <div class="col mb-4">
                            <div class="card h-100">
                              <img src="https://images.unsplash.com/photo-1512212621149-107ffe572d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=759&q=80" class="card-img-top w-100" style="height: auto; max-height: 150px;" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">$ 560.00</p>
                              </div>
                            </div>
                          </div>
                      </div>    
                </div>
            </div>           
        </div>
    </div>
</div>